body {
    font-family: sans-serif;
    background: #fafafa;
    padding: 2rem;
}

/* TIMER */
.timer {
    width: 400px;
    padding: 1rem;
    margin-bottom: 2rem;

    background: #eee;
    border-radius: 6px;
}

.timer p {
    font-size: 3rem;
    text-align: center;
    margin: 1rem 0;
}

.timer div {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
}

/* TASK CARD (shared) */
.task {
    width: 400px;
    padding: 1rem;
    margin-bottom: 1rem;

    background: #eee;
    border-radius: 6px;
    border: 1px solid black;
}

/* VIEW MODE */
.task p {
    margin: 0.3rem 0;
}

.task button {
    margin-top: 0.5rem;
}

/* FORM */
.task form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.task input,
.task textarea {
    padding: 0.4rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.task button {
    background: #007acc;
    color: white;
    border: none;
    padding: 0.5rem;
    border-radius: 4px;
    cursor: pointer;
}

.task button:hover {
    background: #005fa3;
}